<!DOCTYPE html>
<html ng-app="myApp">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
    <body>
        <h3>AngularJS Controllers</h3>
        <p>The <b>ng-controller</b> directive defines the application controller.</p>
        <p>AngularJS will invoke the controller with a $scope object.</p>
        <p>The ng-model directives bind the input fields to the controller properties (firstName and lastName).

</p>
        <br>
        <div ng-controller="myCtrl">
            First Name: <input type="text" ng-model="firstName">
            <br><br>
            Last Name: <input type="text" ng-model="lastName">
            <br><br>
            Full Name: {{firstName + " " + lastName}}
        </div>
        
        <br><br>
        
        <h3>Controller Methods</h3>
        <div ng-controller="personCtrl">
            First Name: <input type="text" ng-model="firstName">
            <br><br>
            Last Name: <input type="text" ng-model="lastName">
            <br><br>
            Full Name: {{fullName()}}
        </div>
        
        <br><br>
        
        <h3>Another Example</h3>
        <div ng-controller="namesCtrl">
            <ul>
              <li ng-repeat="x in names">
                {{ x.name + ', ' + x.country }}
              </li>
            </ul>
        </div>
        
        <script>
            var app = angular.module('myApp', []);
            app.controller('myCtrl', function($scope) {
                $scope.firstName = "John";
                $scope.lastName = "Doe";
            });
            
            app.controller('personCtrl', function($scope) {
                $scope.firstName = "John";
                $scope.lastName = "Doe";
                $scope.fullName = function() {
                    return $scope.firstName + " " + $scope.lastName;
                };
            });
            
            app.controller('namesCtrl', function($scope) {
                $scope.names = [
                    {name:'Jani',country:'Norway'},
                    {name:'Hege',country:'Sweden'},
                    {name:'Kai',country:'Denmark'}
                ];
            });
        
        </script>
    </body>
</html>